<div class="companies__container">
  <div class="companies__container_wrapper">
    <button (click)="getCompanies()" class="companies_button">GET COMPANIES</button>
  </div>

  <table *ngIf="companies.length" class="companies_table">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Segment</th>
      <th>Standard Deviation</th>
    </tr>

    <tr *ngFor="let company of companies">
      <td>{{company.id}}</td>
      <td>{{company.name}}</td>
      <td>{{company.segment}}</td>
      <td>{{company.standardDeviation}}</td>
    </tr>
  </table>
</div>


