.companies_button {
  background-color: blue;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px ;
  width: 100%;

  @media (min-width: 992px){
    width: unset;
  }
}

.companies__container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 992px){
    width: 960px;
  }
}

.companies__container_wrapper{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.companies_table {
  font-size: 14px;
  margin: 16px 0;
}
