/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


